{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 style="font-size: 4rem; font-weight: bold;"> Donation Center</h1>

<div class="text-center my-4">
    <img src="https://img.freepik.com/free-vector/people-carrying-donation-charity-related-icons_53876-59881.jpg" alt="..." class="img-fluid" style="max-width:100; height: auto;">
    <p class="lead mt-3" style="font-size: 3rem; font-weight: italics;">
        Join us in making a difference by supporting these amazing charity programs.</p>
        <!-- Button added below the message -->
    <a href="http://127.0.0.1:8000" class="btn btn-primary btn-lg mt-3">HOME</a>

</div>

<!-- Charity Cards -->
<div class="row">
    {% for charity in charity %}
        <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{charity.image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ charity.name }}</h5>
                <p class="card-text">${{ charity.price }} </p>
                <a href="http://127.0.0.1:8000/reservation/" class="btn btn-primary">Donate</a>
            </div>
        </div>
        </div>
        {% endfor %}
</div>
{% endblock %}