{% extends 'base.html' %}
{% block content %}
<h1 style="font-size: 2rem; font-weight: italics;">Reserve Here to Donate. You can also apply for monthly or yearly subscriptions. Thank you for your help!!!</h1>


<body>
    <div class="container">
        <div class="contact-box">
            <div class="left"></div>
            <div class="right">
                <h2>Add Contact Details</h2>
                <form action="" method="POST">
                    <label for="Name">FULL NAME:</label><br>
                    <input type="text" id="Name" class="field" placeholder="Name" name="name"><br>
                    <label for="email">EMAIL ID:</label><br>
                    <input type="email" id="email" class="field" placeholder="EmailID" name="email"><br>
                    <label for="number">NUMBER:</label><br>
                    <input type="number" id="number" class="field" placeholder="Phone Number" name="phone number"><br><br>
                    <h3>Payment Type and Subscription</h3>
                    <input type="radio" id="Once only" name="type of payment" value="Once">
                    <label for="Once only">Once only</label><br>
                    <input type="radio" id="Monthly" name="type of payment" value="Monthly">
                    <label for="Once only">Monthly</label><br>
                    <input type="radio" id="Yearly" name="type of payment" value="Yearly">
                    <label for="Once only">Yearly</label><br><br>
                    <input type="reset" value="Reset"><br><br>
                    <a href="#" class="btn btn-primary">Submit</a>
                    <a href="http://127.0.0.1:8000" class="btn btn-primary">Home</a>

                </form>
            </div>
        </div>
    </div>
</body>>

{% endblock %}